<div class="container-fluid">
    <table class="table">
    <thead>
        <tr>
            <th>Total ammount to pay </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.total. $</td>
            <td class="aa-cart-quantity"><a asp-action="Pay" asp-controller="Checkout">Pay</a>
            </td>
        </tr>
    </tbody>
</table>
<br><br>
</div>
