@model IEnumerable<Share.ProductVm>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
  ViewData["Title"] = "Home Page";
}

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2></h2>
            <p class="large">We package the products with best services to make you a happy customer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      @foreach (var item in Model)
      {

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
          <div class="product_list">
            <div class="product_img"> <img class="img-responsive" src='@Configuration["imageBackEnd"]/@item.Image' alt="">
            </div>
            <div class="product_detail_btm">
              <div class="center">
                <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
              </div>
              <div class="starratin">
                <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
                  aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star"
                  aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
              </div>
              <div class="product_price">
                <p><span class="new_price">@item.Price</span>
              </div>
              <div class="center">
                <div class="button_Section_cont"> <a class="btn dark_gray_bt" asp-action="Detail" asp-controller="Home"
                  asp-route-id="@item.ProductID">Buy now</a> </div>
              </div>
              <br><br>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
