@model IEnumerable<Share.ProductVm>
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@foreach (var item in Model)
{
  <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
    <div class="product_list">
      <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ProductID">
        <div class="product_img"> <img class="img-responsive" src='@Configuration["imageBackEnd"]/@item.Image' alt="">
        </div>
        <div class="product_detail_btm">
          <div class="center">
            <h4><a href="it_shop_detail.html">@item.ProductName</a></h4>
          </div>
          
          <div class="product_price">
            <p><span class="new_price">@item.Price $</span></p>
          </div>
        </div>
      </a>

    </div>
  </div>
}
